<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>walk</key>
	<dict>
		<key>file</key>
		<string>animationtest.png</string>
		<key>rectList</key>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>111</integer>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>49</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>36</integer>
				<key>y</key>
				<integer>111</integer>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>49</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>72</integer>
				<key>y</key>
				<integer>111</integer>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>49</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>111</integer>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>49</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
