<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>file</key>
		<string>ShurikenHit.png</string>
		<key>autodel</key>
		<true/>
		<key>loop</key>
		<false/>
		<key>rectList</key>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>15</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>36</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>218</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>0</integer>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>59</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
