<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemies</key>
	<array>
		<array>
			<array>
				<integer>100</integer>
				<integer>300</integer>
				<integer>270</integer>
			</array>
			<array>
				<integer>1000</integer>
				<integer>300</integer>
				<integer>0</integer>
			</array>
		</array>
	</array>
</dict>
</plist>
